.box {
    border-style: solid;
    border-color: yellow;
    border-width: 2px;
    height: fit-content;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(https://wallpaperaccess.com/full/823503.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: Times;
    text-align: center;
    color: ivory;
}
img {
    align-items: center;
}
h2 {
    font-family: Times;
    text-align: center;
    color: ivory;
}
p {
    font-family: Courier;
    color: aqua;
}
h3 {
    font-family: Times;
    text-align: center;
    color: ivory;
}
ul {
    font-family: Courier;
    color: aqua;
}
h3 {
    font-family: Times;
    text-align: center;
    color: ivory;
}
ul {
    font-family: Courier;
    color: aqua;
}
